.contact-viewer {

  .sidebar {
    & > li { 

      & > small {
        display: block;
        margin: 20px 0 10px 10px;
        font-size: 10px;
        font-weight: 500;
        opacity: .6;
        line-height: 16.7832164764404px;
      }

      &:first-child > small {
        margin-top: 0;
      }
    }
  }

  .list-results { }

}