.text-lg{
  font-size: 125%;
}

.text-light {
  font-weight: 300;
}

.text-bold{
  font-weight: 700;
}

.text-primary{
  color: @primary;
}

.text-white{
  color: @white;
}

.opacity-25 {
  opacity: 0.25;
  filter: alpha(opacity=25);
}
.opacity-50 {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.opacity-75 {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.opacity-100 {
  opacity: 1;
  filter: alpha(opacity=100);
}
.no-margin {
  margin: 0 !important;
}
.margin-bottom-lg {
  margin-bottom: 5px;
}
.margin-bottom-xl {
  margin-bottom: 10px;
}
.margin-bottom-xxl {
  margin-bottom: 20px;
}
.no-padding {
  padding: 0 !important;
}
.force-padding {
  padding: 24px;
}
.large-padding {
  padding: 48px;
}
.small-padding {
  padding: 12px;
}
.no-y-padding {
  padding: 0 24px;
}
.no-side-padding {
  padding: 24px 0;
}

.no-shadow {
  box-shadow: none;
}

.no-radius {
  border-radius: 0;
}


.contain-xs {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
.contain-sm {
  max-width: 769px;
  margin-left: auto;
  margin-right: auto;
}
.contain-md {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
}
.contain-lg {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.height-1,
.size-1 {
  height: 40px;
}
.height-2,
.size-2 {
  height: 80px;
}
.height-3,
.size-3 {
  height: 120px;
}
.height-4,
.size-4 {
  height: 160px;
}
.height-5,
.size-5 {
  height: 200px;
}
.height-6,
.size-6 {
  height: 240px;
}
.height-7,
.size-7 {
  height: 280px;
}
.height-8,
.size-8 {
  height: 320px;
}
.height-9,
.size-9 {
  height: 360px;
}
.height-10,
.size-10 {
  height: 400px;
}
.height-11,
.size-11 {
  height: 440px;
}
.height-12,
.size-12 {
  height: 480px;
}
.width-1,
.size-1 {
  width: 40px;
}
.width-2,
.size-2 {
  width: 80px;
}
.width-3,
.size-3 {
  width: 120px;
}
.width-4,
.size-4 {
  width: 160px;
}
.width-5,
.size-5 {
  width: 200px;
}
.width-6,
.size-6 {
  width: 240px;
}
.width-7,
.size-7 {
  width: 280px;
}
.width-8,
.size-8 {
  width: 320px;
}
.width-9,
.size-9 {
  width: 360px;
}
.width-10,
.size-10 {
  width: 400px;
}
.width-11,
.size-11 {
  width: 440px;
}
.width-12,
.size-12 {
  width: 480px;
}
.auto-width {
  width: auto;
}