{% extends 'PrestamosBundle::layout.html.twig' %}

{% set activeMenu = "Dashboard" %}

{% block main %}

  <section>
    <div class="section-body">
      <div class="row">
        <div class="col-md-9">
          <div class="card" id="card1">
            <div class="card-head">
              <header>Registration history</header>
              <div class="tools">
                <a class="tool-btn btn-refresh mi"></a>
                <a class="tool-btn btn-collapse mi" data-toggle="collapse" data-target="#card1-body" aria-expanded="true" aria-controls="card1-body"></a>
                <span class="tool-btn btn-close mi"></span>
              </div>
            </div>
            <div class="card-body" id="card1-body">
              <h3>Hola!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}