{% extends 'PrestamosBundle::layout.html.twig' %}

{% set activeMenu = "Dashboard" %}

{% block main %}

  <section>
    <div class="section-body">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <article class="card">
            <div class="card-body no-padding">
              <div class="alert alert-callout alert-primary no-margin"><strong class="text-xl">Hola1</strong></div>
            </div>
          </article>
        </div>
        <div class="col-md-3 col-xs-6">
          <article class="card">
            <div class="card-body no-padding">
              <div class="alert alert-callout alert-danger no-margin"><strong class="text-xl">45</strong></div>
            </div>
          </article>
        </div>
        <div class="col-md-3 col-sm-6">
          <article class="card">
            <div class="card-body no-padding">
              <div class="alert alert-callout alert-info no-margin"><strong class="text-xl">12345</strong></div>
            </div>
          </article>
        </div>
        <div class="col-md-3 col-sm-6">
          <article class="card">
            <div class="card-body no-padding">
              <div class="alert alert-callout alert-warning no-margin"><strong class="text-xl">Visitas</strong></div>
            </div>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-head">
              <header>Registration history</header>
              <div class="tools">
                <a class="tool-btn btn-refresh mi"></a>
                <a class="tool-btn btn-collapse mi"></a>
                <span class="tool-btn btn-close mi"></span>
              </div>
            </div>
            <div class="card-body">
              <h3>Hola!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}