{% extends 'PrestamosBundle::layout.html.twig' %}

{% set activeMenu = "Dashboard" %}

{% block main %}

  <section>
    <div class="section-body">
      <h1>Hola</h1>
    </div>
  </section>
  
{% endblock %}